.left-sidebar {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.menu-list {
    list-style: none;
    flex-grow: 1;
}
.menu-list li {
    padding: 10px;
    color: #666;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.menu-list li:hover {
    background-color: #f0f0f0;
}
.menu-list li.active {
    color: #339CCC;
    font-weight: bold;
}
.menu-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}